* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    position: fixed;
    background: black;
}
.logo{
    width: 100px;
    height: 100px;
}
.dropdown-menu{
    left: -50px !important;
}
.drop-li{
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}
.main {
    display: flex;
    margin-top: 150px;
}
.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    position: fixed;
}
.aside ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.aside li{
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.li-active{
    border-left: 10px solid orange;
}
.aside-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-container {
    display: flex;
    width: 100%;
    padding: 0 4rem;
    justify-content: center;
    margin-bottom: 5rem;
    margin-left: 200px;
}
.cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
}
.card-component{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #292828 , #353434);
}
.card-img{
    width: 100%;
    height: auto;
}
.card-img img{
    width: 100%;
}
.card-text{
    padding: 1rem 2rem;
    color: white;
    font-size: 23px;
    flex-grow: 1;
}
.card-buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 1rem;
}
.card-buttons button{
    background-color: transparent;
    border: none;
    color: #E81224;
    font-size: 18px;
    font-weight: bold;
}
.card-buttons button:hover{
    color: #fd0015;
}
.detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.detail-card{
    border: 1px solid black;
    width: 80%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    color: white;
}
.first-details{
    display: flex;
    background-color: #282727;
}
.first-details-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 2rem;
}
.second-details{
    display: flex;
    margin-top: 1rem;
}
.second-details div{
    padding: 1rem;
    width: 100%;
    border-right: 1px solid gray;
}
.second-details div:last-child{
    border-right: none;
}